<div class="main">

    <header>
        <img src="assets/images/mouritech logo.png" id="mouri">
        <nav>
            <ul>
                <li><a href="login">LogOut</a></li>
                <li> <a href="">About Us</a></li>
                <li><a href="">VegetableInformation</a></li>
                <li><a href="">CustomerInformation</a></li>
                <li><a href="order">OrderInformation</a></li>
                <li><a href="dashboard">Home</a></li>
            </ul>
        </nav>

    </header>
    <div class="bg-img">
        <img src="assets/images/veg-bg.png" width="100%" height="510px">
        <footer>
            <p>2022 Mouritech. All Rights Reserved</p>
        </footer>


    </div>





</div>