<div class="main">
    <nav class="navbar navbar-expand-lg  bg-primary">
        <ul class="navbar-nav">

            <li class="nav-item">
                <img src="assets/images/mouritech logo.png" id="mouri">
            </li>

            <li class="nav-item">
                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Home
                </a>
            </li>

            <li class="nav-item">
                <a routerLink="/order" routerLinkActive="active" class="nav-link">Order List</a>
            </li>
            <li class="nav-item">
                <a routerLink="/create-order" routerLinkActive="active" class="nav-link">Add
                    Order</a>
            </li>
            <li class="nav-item">
                <a routerLink="/login" routerLinkActive="active" class="nav-link">LogOut
                </a>
            </li>
        </ul>

    </nav>
    <div>
        <h1>Create Order Component</h1>
    </div>
    <div class="col-md-6 offset-md-3">

        <div class="container">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Order Id</label>
                    <input type="text" class="form-control" id="ordId" [(ngModel)]="orders.orderId" name="orderId">





                </div>
                <div class="form-group">
                    <label>Customer Id</label>
                    <input type="number" class="form-control" id="cusId" [(ngModel)]="orders.customerId"
                        name="customerId">
                </div>
                <div class="form-group">
                    <label>Amount</label>
                    <input type="number" class="form-control" id="amount" [(ngModel)]="orders.amount" name="amount">
                </div>
                <div class="form-group">
                    <label>Order Date</label>
                    <input type="date" class="form-control" id="ordDate" [(ngModel)]="orders.orderDate"
                        name="orderDate">
                </div><br>
                <div>

                    <button class="btn btn-success" type="submit">Submit</button>
                </div>


            </form>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span>2022 Mouritech. All Rights Reserved</span>
        </div>
    </footer>

</div>

<!-- orderId: string;
customerId: number;
amount: number;
orderDate: string; -->